* {
  font-family: 'Abel', sans-serif;
  box-sizing: border-box
}
a {
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}
nav a {
	position: relative;
	display: inline-block;
	margin: 28px 0px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-shadow: 1px 1px 1px black;
  font-size: 14px;
}
.nav_effect {
  display: inline-block;
}
.nav_effect a {
	padding: 4px;
	transition: color 0.3s;
}
.nav_effect a::before,
.nav_effect a::after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	content: '';
	opacity: 0;
	transition: opacity 0.3s, transform 0.3s;
	transform: translateY(-10px);
}
.nav_effect a::before {
	top: 0;
	transform: translateY(-10px);
}
.nav_effect a::after {
	bottom: 0;
	transform: translateY(10px);
}
.nav_effect a:hover,
.nav_effect a:focus {
	color: #fff;
}
.nav_effect a:hover::before,
.nav_effect a:focus::before,
.nav_effect a:hover::after,
.nav_effect a:focus::after {
	opacity: 1;
	transform: translateY(0px);
}
.navSearchContainer {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
  input {
    width: 100%;
  }
  .form-group {
    margin-bottom: 0;
  }
  .form-control {
    border-radius: 0;
  }
  .navCityContainer {
    flex: 4;
  }
  .navDateFrom {
    flex: 1;
  }
  .navDateTo {
    flex: 1;
  }
  .navButtonContainer {
    display: flex;
    align-items: center;
    flex: 0.5;
    cursor: pointer;
    #navSubmitSearch {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .navSearchIcon {
      font-size: 18px;
      color: white;
    }
  }
}
.hiddenError {
  visibility: hidden;
}
.error {
  color: red;
  position: relative;
  z-index: 10;
}
.navBarMobile {
  position: fixed;
  z-index: 5;
  top: 80px;
  margin-right: 12px;
  width: 92%;
}
.navMobileSearchIcon {
  font-size: 24px;
  margin-top: 25px;
  left: 116px;
  position: absolute;
  z-index: 8;
  a {
    color: white;
    cursor: pointer;
  }
  a:hover {
    color: white;
  }
}
.anchorClicked {
  color: gray;
}
.navMobileSearchContainer {
  display: flex;
  flex-direction: row;
  input {
    width: 100%;
  }
  .form-group {
    margin-bottom: 0;
  }
  .form-control {
    border-radius: 0;
  }
  .navMobileCityContainer {
    flex: 4;
  }
  .navMobileDateFrom {
    flex: 2;
  }
  .navMobileDateTo {
    flex: 2;
  }
  .navMobileButtonContainer {
    display: flex;
    align-items: center;
    flex: 0.1;
    cursor: pointer;
    #navMobileSubmitSearch {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
.hideSearch {
  visibility: hidden;
  transition: 0.3s;
}

.margin-top {
  padding-top: 80px;
}
header {
  background-color: black;
  height: 80px;
  position: fixed;
  width: 100%;
  z-index: 5;
}
.header_img {
  margin-top: 2px;
  display: inline-block;
  float: left;
  margin-right: 10px;
  img {
    width: 80px;
    margin-top: 20px;
  }
}
.header_links {
  display: inline-block;
  float: right;
}
.header_profile {
  display: inline-block;
  img {
    width: 50px;
    margin: 0px 8px 5px 10px;
  }
}
@media screen and (min-width: 768px) {
  nav a {
  	margin: 18px 8px;
    font-size: 18px;
  }
  .nav_effect a {
  	padding: 10px;
  	transition: color 0.3s;
  }
  .header_img {
    img {
      width: 120px;
      margin-top: 10px;
    }
  }
  .header_profile {
    display: inline-block;
    img {
      width: 60px;
      margin: 0px 8px 5px 14px;
    }
  }
}

// #navSearchLocation{
//   width:100%;
//   display: block;
//   height: 34px;
//   padding: 6px 12px;
//   font-size: 14px;
//   line-height: 1.42857143;
//   color: #555;
//   background-color: #fff;
//   border: 1px solid #ccc;
//   border-radius: 4px;
//   margin: 0
// }
