* {
  font-family: 'Abel', sans-serif;
  box-sizing: border-box
}
.modal {
  top: 60px !important;
}
.modal-content {
  border-top-left-radius: 6px !important;
  border-top-right-radius: 6px !important;
}
.modal-header {
  background-color: black;
  color: white;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
  button {
    color: white;
    opacity: 1;
  }
}
.modal-footer {
  button {
    background-color: black;
    color: white;
    transition: 0.3s;
  }
  button:hover, button:focus, button:active {
    color: pink;
    background-color: black;
  }
}
a {
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}
#navDropdownMenu {
  position: absolute;
  width: 80px;
  right: 6px;
}
.navDropdownMenuItems {
  list-style: none;
  position: relative;
  z-index: 20;
  margin: 0;
  text-align: center;
  padding: 10px 5px;
  background-color: black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  a {
    transition: 0.3s;
    color: white;
  	text-shadow: 1px 1px 1px black;
    cursor: pointer;
    li {
      margin-top: 3px;
    }
  }
  a:hover, a:focus, a:active {
    color: pink;
  }
}
nav a {
	position: relative;
	display: inline-block;
	margin: 28px 0px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-shadow: 1px 1px 1px black;
  font-size: 14px;
}
.nav_effect {
  display: inline-block;
}
.nav_effect a {
	padding: 4px;
	transition: color 0.3s;
}
.nav_effect a::before,
.nav_effect a::after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	content: '';
	opacity: 0;
	transition: opacity 0.3s, transform 0.3s;
	transform: translateY(-10px);
}
.nav_effect a::before {
	top: 0;
	transform: translateY(-10px);
}
.nav_effect a::after {
	bottom: 0;
	transform: translateY(10px);
}
.nav_effect a:hover,
.nav_effect a:focus {
	color: #fff;
}
.nav_effect a:hover::before,
.nav_effect a:focus::before,
.nav_effect a:hover::after,
.nav_effect a:focus::after {
	opacity: 1;
	transform: translateY(0px);
}
.navSearchContainer {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
  .form-control {
    font-size: 18px;
    color: white;
  }
  input {
    width: 100%;
    background-color: transparent;
    border: 0;
  }
  .form-group {
    margin-bottom: 0;
    height: 36px;
  }
  .form-control {
    border-radius: 0;
  }
  .navCityContainer {
    flex: 4;
  }
  .navDateFrom {
    flex: 2;
    input {
      text-align: center;
      background-color: transparent;
      border: 0;
      padding: 0;
      font-size: 14px;
    }
  }
  .navArrowContainer {
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
      font-size: 30px;
      color: #555;
    }
  }
  .navDateTo {
    flex: 2;
    input {
      text-align: center;
      background-color: transparent;
      border: 0;
      padding: 0;
      font-size: 14px;
    }
  }
  .navButtonContainer {
    display: flex;
    justify-content: center;
    flex: 0.5;
    cursor: pointer;
    #navSubmitSearch {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      background-color: transparent;
      border: 0;
    }
    .navSearchIcon {
      font-size: 18px;
      color: white;
    }
  }
}
.hiddenError {
  visibility: hidden;
}
.error {
  color: red;
  position: relative;
  z-index: 10;
  text-shadow: 1px 1px 1px black;
  font-size: 18px;
  margin-left: 12px;
}
.navBarMobile {
  position: fixed;
  z-index: 5;
  top: 80px;
  margin-right: 12px;
  width: 92%;
}
.navMobileSearchIcon {
  font-size: 20px;
  margin-top: 28px;
  left: 110px;
  position: absolute;
  z-index: 8;
  a {
    color: white;
    cursor: pointer;
  }
  a:hover {
    color: white;
  }
}
.anchorClicked {
  color: gray;
}
.navMobileSearchContainer {
  background-color: black;
  padding: 3px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  .form-group {
    margin-bottom: 0;
  }
  .form-control {
    border-radius: 0;
  }
  .navMobileCityContainer {
    width: 100%;
    margin-bottom: 5px;
    input {
      font-size: 12px;
    }
  }
  .navMobileDatesContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    width: 100%;
    .navMobileDateFrom {
      flex: 1;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      label {
        color: white;
        margin: 0;
        font-size: 12px;
        margin-right: 4px;
      }
      .form-group {
        display: flex;
        align-items: center;
        justify-content: center;
        input {
          font-size: 12px;
        }
      }
    }
    .navMobileDateTo {
      width: 100%;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      label {
        color: white;
        margin: 0;
        font-size: 12px;
        margin-right: 4px;
      }
      .form-group {
        display: flex;
        align-items: center;
        justify-content: center;
        input {
          font-size: 12px;
        }
      }
    }
  }
  .navMobileButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 95%;
    button {
      width: 20%;
      font-size: 12px;
      background-color: white;
      border-radius: 5px;
      color: black;
    }
  }
}
.navSearchIcon {
  color: white;
}
.hideSearch {
  display: none;
  transition: 0.3s;
}

.margin-top {
  padding-top: 80px;
}
header {
  background-color: black;
  height: 80px;
  position: fixed;
  width: 100%;
  z-index: 7;
  font-size: 18px;
  .form-control:focus {
    outline: 0;
    box-shadow: none;
  }
}
.header_img {
  float: left;
  margin-right: 10px;
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: center;
  img {
    width: 80px;
  }
}
.header_links {
  display: inline-block;
  float: right;
}
.header_profile {
  display: inline-block;
  img {
    width: 50px;
    margin: 0px 8px 5px 10px;
  }
}
@media screen and (min-width: 350px) {
  .navMobileSearchIcon {
    left: 115px
  }
}
@media screen and (min-width: 768px) {
  nav a {
  	margin: 18px 8px;
    font-size: 18px;
  }
  .nav_effect a {
  	padding: 10px;
  	transition: color 0.3s;
  }
  .header_img {
    img {
      width: 120px;
    }
  }
  #navDropdownMenu {
    position: absolute;
    width: 100px;
  }
  .header_profile {
    display: inline-block;
    img {
      width: 60px;
      margin: 0px 8px 5px 14px;
    }
  }
}

@media screen and (min-width: 950px) {
  .navSearchContainer {
    .navDateFrom, .navDateTo {
      input {
        font-size: 18px;
        }
      }
  }
}


.forgot-password {
  margin-top: 7px;
  float:left;
}
