<% content_for :stylesheets do %>
  <link rel="stylesheet" href="/css/flatpickr.min.css" />
  <link rel="stylesheet" href="/css/conversations/index.css" />
<% end %>

<div id="inbox">

</div>


<% content_for :scripts do %>
  <script src="/js/inbox.bundle.js"></script>
<% end %>
