<% content_for :stylesheets do %>
  <link rel="stylesheet" href="/css/flatpickr.min.css" />
  <link rel="stylesheet" href="/css/conversations/show.css" />
<% end %>

<div id="MessageBox">

</div>

<% content_for :scripts do %>
  <script src="/js/MessageBox.bundle.js"></script>
<% end %>
