<% content_for :stylesheets do %>
  <link rel="stylesheet" href="/css/user/user.css" />
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
    </div>
  </div>
</div>


<% content_for :scripts do %>
  <script src="/js/user/user.js"></script>
<% end %>
