<% content_for :stylesheets do %>
  <link rel="stylesheet" href="/css/random/password.css" />
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
      <div class="center-block">
        <h2 class="text-center">Forgot Password?</h2>
        <p class"text-center">Follow the instructions in the recovery email</p>
        <form method="post" action="#" id="changePassword" enctype="multipart/form-data">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email" />
          </div>
        </form>
        <button type="button" class="btn center-block" id="submitEmail">Recover Password</button>
      </div>
    </div>
  </div>
</div>

<% content_for :scripts do %>
  <script src="/js/random/passwordForgot.js"></script>
<% end %>
