<% content_for :stylesheets do %>
  <link rel="stylesheet" href="/css/random/password.css" />
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="center-block">
        <form method="post" action="#" id="changePassword" enctype="multipart/form-data">
          <div class="form-group">
            <label for="current_password">Current Password</label>
            <input type="password" class="form-control" id="currentPassword" name="current_password"  />
          </div>
          <div class="form-group">
            <label for="password">New Password</label>
            <input type="password" class="form-control" id="newPassword" name="password"  />
          </div>
          <div class="form-group">
            <label for="password_confirmation">Confirm New Password</label>
            <input type="password" class="form-control" id="confirmPassword" name="password_confirmation"  />
          </div>
        </form>
        <button type="button" class="btn" id="submitPassword">Submit</button>
      </div>
    </div>
  </div>
</div>

<% content_for :scripts do %>
  <script src="/js/random/password.js"></script>
<% end %>
