<% content_for :stylesheets do %>
  <link rel="stylesheet" href="/css/flatpickr.min.css" />
  <link rel="stylesheet" href="/css/welcome/index.css" />
<% end %>
<div class="frontPageMargin"></div>
<div class="jumbotron">
  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
    <form method="get" action="#" enctype="multipart/form-data">
      <div class="searchContainer">
        <div class="cityContainer">
          <div class="form-group">
            <input type="text" class="form-control" id="location" name="location" placeholder="Where Do You Want To Search?" required />
          </div>
        </div>
        <div class="dateFrom">
          <div class="form-group">
            <input type="text" class="form-control flatpickr" data-date-format="m-d-Y" id="index_date_from" name="starting_date" placeholder="From" data-allow-input=true required />
          </div>
        </div>
        <div class="indexArrowContainer">
          <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        </div>
        <div class="dateTo">
          <div class="form-group">
            <input type="text" class="form-control flatpickr" data-date-format="m-d-Y" id="index_date_to" name="ending_date" placeholder="To" data-allow-input=true required />
          </div>
        </div>
        <div class="buttonContainer center-block">
          <button type="button" class="btn" id="submitIndexSearch">Search</button>
        </div>
      </div>
      <span id="searchError" class="hiddenError errorIndex">All Fields Need Values</span>
    </form>
  </div>
</div>
<div class="container info_container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1>What Is Salt?</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4 salt_info text-center">
      <i class="fa fa-search info_img" aria-hidden="true"></i>
      <h3>Search Events</h3>
      <div class="info_text">
        Check out local events being hosted by people just like you!
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 salt_info text-center">
      <i class="fa fa-pencil-square-o info_img" aria-hidden="true"></i>
      <h3>Apply</h3>
      <div class="info_text">
         Request a seat at an event and get speedy approval.
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 salt_info text-center">
      <i class="fa fa-glass info_img" aria-hidden="true"></i>
      <h3>Bon Appétit</h3>
      <div class="info_text">
        Enjoy your meal and think about hosting an event yourself!
      </div>
    </div>
  </div>
</div>

<% content_for :scripts do %>
  <script src="/js/flatpickr.min.js"></script>
  <script src="/js/welcome/welcome.js"></script>
<% end %>
