<% content_for :stylesheets do %>
  <link rel="stylesheet" href="/css/flatpickr.min.css" />
  <link rel="stylesheet" href="/css/events/index.css" />
<% end %>


<div class="jumbotron">

</div>
<div class="container">
  <div class="row">
    <div id="renderEvents">
      <!-- <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="eventContainer">
          <div class="imgContainer">
            <div class="dateContainer text-center">
              <span class="date">Friday August 19th</span>
              <br/>
              <span class="time">7:30pm</span>
            </div>
            <i class="fa fa-heart-o watchIcon" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Watch Event"></i>
          </div>
          <div class="descContainer">
            <div class="profileContainer">
              <div class="thumbnailContainer">
                <img src="/assets/profileImage.png" alt="profile image" class="img-circle" />
              </div>
              <div class="nameContainer">
                <h3 class="event_host">Name of User</h3>
              </div>
            </div>
            <div class="eventDescContainer">
              <h3 class="event_title">Title of Event</h3>
              <p class="event_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>


<% content_for :scripts do %>
  <script src="/js/flatpickr.min.js"></script>
  <!-- <script src="/js/events/test.js"></script> -->
  <script src="js/events/eventsIndex.bundle.js"></script>
  <script type="text/javascript">
      // $("#event_date").flatpickr();
      // $("#event_time").flatpickr();
  </script>
  <script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
<% end %>
