<% content_for :stylesheets do %>
  <link rel="stylesheet" href="/css/flatpickr.min.css" />
  <link rel="stylesheet" href="/css/events/index.css" />
<% end %>


<div class="jumbotron">
  <a href="/"><button class="btn back_search_btn" ><i class="fa fa-arrow-left" aria-hidden="true"></i>Back</button></a>
  <h1 class="city_name text-center">Indianapolis</h1>
</div>
<div class="container">
  <div class="row">
    <div id="renderEvents">
    
    </div>
  </div>
</div>


<% content_for :scripts do %>
  <script src="/js/flatpickr.min.js"></script>
  <script src="js/events/eventsIndex.bundle.js"></script>
  <!-- <script type="text/javascript">
      $("#event_date").flatpickr();
      $("#event_time").flatpickr();
  </script> -->
  <!-- <script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
  </script> -->
<% end %>
