#changePassword {
  margin-top: 40px;
}

#submitPassword {
  margin-bottom: 30vh;
  background-color: black;
  color: white;
  transition: 0.3s;
}

#submitPassword:hover, #submitPassword:focus, #submitPassword:active {
  color: pink;
  background-color: black;
}
