body {
  background-color: #e8e8e8;
}

.user_info .profileImageBox {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background-color: white;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.user_info .user_image {
  border-radius: 10px;
}

.user_info .eventsInfoBox {
  padding-top: 5px;
  font-size: 17px;
  display: flex;
  justify-content: space-around;
}

.user_info .eventsInfoBox .eventsSpan {
  margin-left: 3px;
}

.user_info .buttonsBox {
  margin-top: 5px;
}

.user_info .buttonsBox button {
  background-color: black;
  color: white;
  transition: 0.3s;
  width: 110px;
}

.user_info .buttonsBox button:hover, .user_info .buttonsBox button:focus {
  color: pink;
}

.profileNameBox {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}

.profileNameBox h1, .profileNameBox h3, .profileNameBox h5 {
  margin: 0;
}

.profileNameBox .aboutYou {
  margin-top: 20px;
}

.profileNameBox .aboutMeDescriptionBox {
  padding: 10px;
  border-top: 1px solid black;
}

.profileNameBox .aboutMeDescriptionBox h5 {
  font-size: 18px;
}

.user_profile .profile_image {
  width: 40px;
  cursor: pointer;
  margin-right: 5px;
}

.user_profile a {
  color: black;
  cursor: pointer;
}

.scroll_box {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: white;
  overflow-y: scroll;
  height: 500px;
  border: 1px solid black;
  margin-bottom: 40px;
  width: 95%;
}

@media screen and (min-width: 768px) {
  .user_info .profileImageBox {
    width: 75%;
  }
  .profileNameBox {
    width: 95%;
  }
  .scroll_box {
    width: 95%;
  }
}
