body {
  background-color: #e8e8e8;
}

.user_info .profileImageBox {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background-color: white;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.user_info .user_image {
  border-radius: 10px;
}

.user_info .eventsInfoBox {
  padding-top: 5px;
  font-size: 17px;
  display: flex;
  justify-content: space-around;
}

.user_info .eventsInfoBox .eventsSpan {
  margin-left: 3px;
}

.user_info .buttonsBox {
  margin-top: 5px;
}

.user_info .buttonsBox button {
  background-color: black;
  color: white;
  transition: 0.3s;
  width: 110px;
}

.user_info .buttonsBox button:hover, .user_info .buttonsBox button:focus {
  color: pink;
}

.personelInfoBox {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: white;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
}

.personelInfoBox h4 {
  font-size: 20px;
}

.personelInfoBox p {
  font-size: 17px;
}

.personelInfoBox .personelContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.personelInfoBox .personelContainer .iconContainer {
  font-size: 30px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.personelInfoBox .personelContainer .infoContainer {
  flex: 3;
}

.profileNameBox {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}

.profileNameBox h1, .profileNameBox h3, .profileNameBox h5 {
  margin: 0;
}

.profileNameBox .aboutYou {
  margin-top: 20px;
}

.profileNameBox .aboutMeDescriptionBox {
  padding: 10px;
  border-top: 1px solid black;
}

.profileNameBox .aboutMeDescriptionBox h5 {
  font-size: 18px;
}

.user_profile .profile_image {
  width: 40px;
  cursor: pointer;
  margin-right: 5px;
}

.user_profile a {
  color: black;
  cursor: pointer;
}

.activityContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.activityHeader {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid black;
  margin-bottom: 20px;
  width: 100%;
}

.activityHeader h3 {
  margin: 0;
}

.scrollContainers {
  flex: 8;
  display: flex;
  flex-direction: column;
}

.activityBoxLeft {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid black;
  margin-bottom: 40px;
  width: 100%;
}

.activityBoxLeft .leftHeader {
  flex: 1;
}

.activityBoxLeft .leftContent {
  flex: 10;
  overflow-y: scroll;
  height: 400px;
}

.activityBoxLeft h2, .activityBoxLeft h3, .activityBoxLeft h4 {
  margin: 0;
}

.activityBoxLeft h3 {
  margin-bottom: 10px;
}

.activityBoxRight {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid black;
  margin-bottom: 40px;
  width: 100%;
}

.activityBoxRight .rightHeader {
  flex: 1;
}

.activityBoxRight .rightContent {
  flex: 10;
  overflow-y: scroll;
  height: 400px;
}

.activityBoxRight h2, .activityBoxRight h3, .activityBoxRight h4 {
  margin: 0;
}

.activityBoxRight h3 {
  margin-bottom: 10px;
}

.conversationContainer {
  display: flex;
  flex-direction: column;
}

.conversationContainer .conversationHeader {
  flex: 1;
  display: flex;
  flex-direction: row;
  background-color: black;
  color: white;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.conversationContainer .conversationHeader .conversationNameContainer {
  margin-left: 5px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
}

.conversationContainer .conversationHeader .conversationDateContainer {
  flex: 1;
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: flex-end;
}

.conversationContainer .conversationBody {
  flex: 2;
  display: flex;
  flex-direction: row;
  padding: 10px;
  background-color: white;
  border: 1px solid black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 20px;
}

.conversationContainer .conversationLeftsideContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conversationContainer .conversationLeftsideContainer img {
  border-radius: 5px;
  height: 100%;
  width: 100%;
}

.conversationContainer .conversationRightsideContainer {
  padding: 10px;
  flex: 10;
  display: flex;
  align-items: center;
  color: black;
}

@media screen and (min-width: 768px) {
  .user_info .profileImageBox {
    width: 75%;
  }
  .user_info .personelInfoBox {
    width: 75%;
  }
  .profileNameBox {
    width: 95%;
  }
  .activityContainer {
    width: 95%;
  }
  .scrollContainers {
    flex: 8;
    display: flex;
    flex-direction: row;
  }
  .activityBoxLeft {
    margin-right: 10px;
  }
  .activityBoxRight {
    margin-left: 10px;
  }
}
