<% content_for :stylesheets do %>
<% end %>

<!-- QUESTIONs, comments, issues to fix? Please report all issues with the application on our github, otherwise, email us. Has out github, and our email addresses.  -->

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h3>Reporting Issues With The Website</h3>
      <h5>To report issues with salt-up.com, please visit our <%= link_to "github repository", 'https://github.com/ifasoldt/Salt' %>, and create a new issue.</h5>
    </div>
    <div class="col-xs-10 col-xs-offset-1">
      <h3>Contributing</h3>
      <h5>If you have ideas for improvement, feel free to fork our repo and submit a pull request!</h5>
    </div>
  </div>
</div>


<% content_for :scripts do %>
<% end %>
