body {
  background-color: #e8e8e8;
}
.user_info {
  h3, h4 {
    margin: 0;
  }
  .user_image {
    width: 300px;
  }
  .user_city, .user_state {
    display: inline-block;
  }
}
.scroll_box {
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: black;
  overflow-y: scroll;
  height: 400px;
}

td {
  vertical-align: middle !important;
}
.nav.nav-pills {
  a {
    cursor: pointer;
  }
}
.user_profile {
  .profile_image {
    width: 40px;
    cursor: pointer;
    margin-right: 5px;
  }
  a {
    color: black;
    cursor: pointer;
  }
}

.nameHeader {
  width: 30%;
}
.quantityHeader {
  width: 10%;
}
.messageHeader {
  width: 45%;
}
.statusHeader {
  width: 15%;
}
.accept_application {
  cursor: pointer;
}
.deny_application {
  margin-left: 10px;
  cursor: pointer;
}

.text_input {
  height: 80px;
}
