body {
  background-color: #e8e8e8;
}
.user_info {
  margin-top: 20px;
  .user_image {
    width: 300px;
    border-radius: 10px;
  }
  .eventsInfoBox {
    padding: 10px;
    width: 70%;
    display: flex;
    justify-content: space-around;
  }
  .personelInfoBox {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;
    width: 60%;
    border: 1px solid black;
    border-radius: 5px;
    .personelContainer {
      display: flex;
      flex: 1;
      flex-direction: row;
      .iconContainer {
        font-size: 20px;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .infoContainer {
        flex: 3;
      }
    }
  }
  .user_state, .user_zip {
    margin-left: 4px;
  }
}
.profileNameBox {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  h1, h3, h5 {
    margin: 0;
  }
  .aboutYou {
    margin-top: 20px;
  }
  .aboutMeDescriptionBox {
    padding: 10px;
    border-top: 1px solid black;
  }
}

.scroll_box {
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: white;
  overflow-y: scroll;
  height: 500px;
  border: 1px solid black;
}

td {
  vertical-align: middle !important;
}
.nav.nav-pills {
    margin-top: 10px;
  a {
    cursor: pointer;
    color: black;
    font-size: 20px;
  }
  a:hover {
    background-color: inherit;
  }
}
.user_profile {
  .profile_image {
    width: 40px;
    cursor: pointer;
    margin-right: 5px;
  }
  a {
    color: black;
    cursor: pointer;
  }
}
.panel-heading {
  background-color: black !important;
  color: white !important;
  border-bottom: 0 !important;
}
.nameHeader {
  width: 30%;
}
.quantityHeader {
  width: 10%;
}
.messageHeader {
  width: 45%;
}
.statusHeader {
  width: 15%;
}
.accept_application {
  cursor: pointer;
}
.deny_application {
  margin-left: 10px;
  cursor: pointer;
}
.leave_event {
  margin-left: 10px;
  cursor: pointer;
}

.text_input {
  height: 80px;
}
