body {
  background-color: #e8e8e8;
}

.user_info {
  margin-top: 20px;
}

.user_info .profileImageBox {
  width: 75%;
  padding: 10px;
  background-color: white;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.user_info .user_image {
  border-radius: 10px;
}

.user_info .eventsInfoBox {
  padding-top: 5px;
  font-size: 17px;
  display: flex;
  justify-content: space-around;
}

.user_info .eventsInfoBox .eventsSpan {
  margin-left: 3px;
}

.user_info .personelInfoBox {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: white;
  width: 75%;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 20px;
}

.user_info .personelInfoBox h4 {
  font-size: 20px;
}

.user_info .personelInfoBox p {
  font-size: 17px;
}

.user_info .personelInfoBox .personelContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.user_info .personelInfoBox .personelContainer .iconContainer {
  font-size: 30px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user_info .personelInfoBox .personelContainer .infoContainer {
  flex: 3;
}

.user_info .personelInfoBox .personelContainer .user_street, .user_info .personelInfoBox .personelContainer .user_city, .user_info .personelInfoBox .personelContainer .user_state, .user_info .personelInfoBox .personelContainer .user_zip {
  font-size: 17px;
}

.user_info .user_state, .user_info .user_zip {
  margin-left: 4px;
}

.user_info .buttonsBox {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: white;
  width: 75%;
  border: 1px solid black;
  border-radius: 5px;
}

.user_info .buttonsBox button {
  background-color: black;
  color: white;
}

.user_info .buttonsBox button:hover {
  color: pink;
}

.profileNameBox {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}

.profileNameBox h1, .profileNameBox h3, .profileNameBox h5 {
  margin: 0;
}

.profileNameBox .aboutYou {
  margin-top: 20px;
}

.profileNameBox .aboutMeDescriptionBox {
  padding: 10px;
  border-top: 1px solid black;
}

.profileNameBox .aboutMeDescriptionBox h5 {
  font-size: 18px;
}

.scroll_box {
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: white;
  overflow-y: scroll;
  height: 500px;
  border: 1px solid black;
  margin-bottom: 40px;
  width: 95%;
}

td {
  vertical-align: middle !important;
}

.nav.nav-pills {
  margin-top: 10px;
}

.nav.nav-pills a {
  cursor: pointer;
  color: black;
  font-size: 20px;
}

.nav.nav-pills a:hover {
  background-color: inherit;
}

.user_profile .profile_image {
  width: 40px;
  cursor: pointer;
  margin-right: 5px;
}

.user_profile a {
  color: black;
  cursor: pointer;
}

.panel-heading {
  background-color: black !important;
  color: white !important;
  border-bottom: 0 !important;
}

.nameHeader {
  width: 30%;
}

.quantityHeader {
  width: 10%;
}

.messageHeader {
  width: 45%;
}

.statusHeader {
  width: 15%;
}

.accept_application {
  cursor: pointer;
}

.deny_application {
  margin-left: 10px;
  cursor: pointer;
}

.leave_event {
  margin-left: 10px;
  cursor: pointer;
}

.text_input {
  height: 80px;
}

@media screen and (min-width: 768px) {
  .profileNameBox {
    width: 95%;
  }
  .scroll_box {
    width: 95;
  }
}
