body {
  background-color: #e8e8e8;
}

.user_info .profileImageBox {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background-color: white;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.user_info .user_image {
  border-radius: 10px;
}

.user_info .eventsInfoBox {
  padding-top: 5px;
  font-size: 17px;
  display: flex;
  justify-content: space-around;
}

.user_info .eventsInfoBox .eventsSpan {
  margin-right: 3px;
}

.user_info .personelInfoBox {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: white;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 20px;
}

.user_info .personelInfoBox h4 {
  font-size: 20px;
}

.user_info .personelInfoBox p {
  font-size: 17px;
}

.user_info .personelInfoBox .personelContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.user_info .personelInfoBox .personelContainer .iconContainer {
  font-size: 30px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user_info .personelInfoBox .personelContainer .infoContainer {
  flex: 3;
}

.user_info .personelInfoBox .personelContainer .user_street, .user_info .personelInfoBox .personelContainer .user_city, .user_info .personelInfoBox .personelContainer .user_state, .user_info .personelInfoBox .personelContainer .user_zip {
  font-size: 17px;
}

.user_info .user_state, .user_info .user_zip {
  margin-left: 4px;
}

.user_info .buttonsBox {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: white;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
}

.user_info .buttonsBox button {
  background-color: black;
  color: white;
  transition: 0.3s;
  width: 110px;
}

.user_info .buttonsBox button:hover, .user_info .buttonsBox button:focus {
  color: pink;
}

.profileNameBox {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}

.profileNameBox h1, .profileNameBox h3, .profileNameBox h5 {
  margin: 0;
}

.profileNameBox .aboutYou {
  margin-top: 20px;
}

.profileNameBox .aboutMeDescriptionBox {
  padding: 10px;
  border-top: 1px solid black;
}

.profileNameBox .aboutMeDescriptionBox h5 {
  font-size: 18px;
}

.hostingEventContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.hostingEventContainer .hostingEventTitleContainer {
  background-color: black;
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
}

.hostingEventContainer .hostingEventTitleContainer a {
  color: white;
}

.hostingEventContainer .hostingEventTitleContainer .hostingEventTitleDateContainer {
  color: white;
  font-size: 12px;
}

.hostingEventContainer .applicationsHeaderContainer {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 5px;
}

.hostingEventContainer .applicationSingleContainer {
  display: flex;
  flex-direction: row;
  padding: 5px;
  border-top: 1px solid;
}

.hostingEventContainer .applicationSingleContainer .applicationSingleHeaderContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  padding: 1px;
}

.hostingEventContainer .applicationSingleContainer .applicationSingleHeaderContainer a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hostingEventContainer .applicationSingleContainer .applicationSingleHeaderContainer a img {
  max-width: 50px;
}

.hostingEventContainer .applicationSingleContainer .votesContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  padding: 1px;
}

.hostingEventContainer .applicationSingleContainer .votesContainer .thumbVotesNumber {
  margin-left: 3px;
}

.hostingEventContainer .applicationSingleContainer .applicationSingleQuantityContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  padding: 1px;
}

.hostingEventContainer .applicationSingleContainer .applicationSingleMessageContainer {
  flex: 2.5;
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 1px;
}

.hostingEventContainer .applicationSingleContainer .applicationSingleStatusContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  padding: 1px;
}

.hostingEventContainer .nameHeader {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px;
}

.hostingEventContainer .thumbsHeader {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px;
}

.hostingEventContainer .quantityHeader {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px;
}

.hostingEventContainer .messageHeader {
  flex: 2.5;
  display: flex;
  align-items: center;
  padding: 1px;
}

.hostingEventContainer .statusHeader {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px;
}

.noApplications {
  padding: 5px;
  border-top: 1px solid black;
  font-size: 12px;
}

.attendingEventsContainer {
  border: 1px solid black;
  border-radius: 5px;
}

.attendingEventsContainer .attendingEventsHeaderContainer {
  display: flex;
  flex-direction: row;
  background-color: black;
  color: white;
  padding: 5px;
}

.attendingEventsContainer .attendingEventsHeaderContainer .titleHeader {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
}

.attendingEventsContainer .attendingEventsHeaderContainer .whenHeader {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
}

.attendingEventsContainer .attendingEventsHeaderContainer .spotsHeader {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
}

.attendingEventsContainer .attendingEventsHeaderContainer .approvedHeader {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
}

.attendingEventsContainer .attendingEventsBody {
  display: flex;
  flex-direction: row;
  border-top: 1px solid black;
  padding: 5px;
}

.attendingEventsContainer .attendingEventsBody .attendingEventHeader {
  flex: 1;
  display: flex;
  align-items: center;
}

.attendingEventsContainer .attendingEventsBody .attendingEventHeader a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.attendingEventsContainer .attendingEventsBody .attendingEventHeader a img {
  max-width: 50px;
  margin-right: 10px;
}

.attendingEventsContainer .attendingEventsBody .attendingEventDate {
  font-size: 12px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.attendingEventsContainer .attendingEventsBody .attendingEventSpots {
  font-size: 12px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.attendingEventsContainer .attendingEventsBody .attendingEventStatus {
  font-size: 12px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conversationContainer {
  display: flex;
  flex-direction: column;
}

.conversationContainer .conversationHeader {
  flex: 1;
  display: flex;
  flex-direction: row;
  background-color: black;
  color: white;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.conversationContainer .conversationHeader .conversationNameContainer {
  margin-left: 5px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
}

.conversationContainer .conversationHeader .conversationDateContainer {
  flex: 1;
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: flex-end;
}

.conversationContainer .conversationBody {
  flex: 2;
  display: flex;
  flex-direction: row;
  padding: 10px;
  background-color: white;
  border: 1px solid black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 20px;
}

.conversationContainer .conversationLeftsideContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conversationContainer .conversationLeftsideContainer img {
  height: 100%;
  width: 100%;
}

.conversationContainer .conversationRightsideContainer {
  padding: 10px;
  flex: 6;
}

.conversationContainer .conversationRightsideContainer .messagePreviewTitle {
  text-decoration: underline;
}

.scroll_box {
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  border-top-left-radius: 0;
  background-color: white;
  overflow-y: scroll;
  height: 500px;
  border: 1px solid black;
  margin-bottom: 40px;
  width: 100%;
}

.scroll_box a {
  color: black;
  transition: 0.3s;
}

.linkToHostedEvent {
  cursor: pointer;
}

.thumbUp {
  cursor: pointer;
}

.thumbDown {
  cursor: pointer;
  margin-left: 10px;
}

td {
  vertical-align: middle !important;
}

.nav.nav-pills {
  margin-top: 10px;
}

.nav.nav-pills a {
  cursor: pointer;
  color: black;
  font-size: 14px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 8px 4px;
}

.nav.nav-pills a:hover {
  background-color: inherit;
}

.user_profile .profile_image {
  width: 40px;
  cursor: pointer;
  margin-right: 5px;
}

.user_profile a {
  color: black;
  cursor: pointer;
}

.accept_application {
  cursor: pointer;
  margin-left: 10px;
}

.deny_application {
  margin-left: 10px;
  cursor: pointer;
}

.leave_event {
  margin-left: 10px;
  cursor: pointer;
}

.text_input {
  height: 80px;
}

@media screen and (min-width: 768px) {
  .nav.nav-pills a {
    padding: 10px 6px;
    font-size: 18px;
  }
  .user_info .profileImageBox {
    width: 75%;
  }
  .user_info .personelInfoBox {
    width: 75%;
  }
  .user_info .buttonsBox {
    width: 75%;
  }
  .profileNameBox {
    width: 95%;
  }
  .scroll_box {
    width: 95%;
  }
}
