<h2><%= @application.user.first_name %>!</h2>
<p>Unfortunately, your request to join the Salt event,<%= @application.event.title %>, has not been approved!</p>
<p>Feel free to check out other events on Salt.com! Likewise, you might take a look at our suggestions for optimizing your profile and improving your chances of being approved for events!
</p>
<h3>We hope that you keep applying and use Salt to Meet a Different!</h3>
<h3>The Salt Staff</h3>
