header {
  background-color: transparent !important;
  position: absolute !important;
}
.homePageHidden {
  display: none;
}
.frontPageMargin {
  margin-top: -80px !important;
}
.navMobileSearchIcon {
  display: none !important;
}
.navDropdownMenuItems {
  background-color: transparent !important;
}
.navBarMobile {
  display: none !important;
}
.jumbotron {
  background-image: url('../../assets/food.jpg');
  background-position: center;
  background-size: cover;
  height: 400px;
  margin-bottom: 0px;
}
.errorIndex {
  color: red;
  position: relative;
  z-index: 10;
  text-shadow: 1px 1px 1px black;
  font-size: 18px;
  margin-left: 12px;
  top: -268px;
}
.searchContainer {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  input {
    border: none;
    height: 45px;
    font-size: 14px;
    border: 2px solid black;
  }
  .form-group {
    margin-bottom: 0;
  }
  .form-control {
    border-radius: 0;
  }
  .form-control:focus {
    outline: 0;
    box-shadow: none;
  }
  .cityContainer {
    flex: 4;
    height: 45px;
    margin-bottom: 20px;
    input {
      border-radius: 5px;
      border: 2px solid black;
    }
  }
  .dateFrom {
    flex: 2;
    height: 45px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    .dateTextContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background-color: white;
      padding-left: 5px;
      border: 2px solid;
      border-radius: 5px;
      .dateTextContainerText {
        font-size: 18px;
        color: black;
        margin-right: 6px;
      }
    }
    label {
      color: white;
      font-size: 16px;
      margin-right: 4px;
    }
    input {
      width: 100%;
    }
  }
  .indexArrowContainer {
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: white;
    margin-bottom: 20px;
    display: none;
    i {
      font-size: 30px;
      color: #555;
    }
  }
  .dateTo {
    flex: 2;
    height: 45px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    .dateTextContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background-color: white;
      padding-left: 5px;
      border: 2px solid;
      border-radius: 5px;
      .dateTextContainerText {
        font-size: 18px;
        color: black;
        margin-right: 6px;
      }
    }
    label {
      color: white;
      font-size: 16px;
      margin-right: 4px;
    }
    input {
      width: 100%;
    }
  }
  button {
    border-radius: 0;
  }
  a {
    color: black;
  }
  .buttonContainer {
    flex: 1;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      height: 45px;
      background-color: black;
      color: white;
      font-size: 20px;
      border-radius: 5px;
      transition: 0.3s;
    }
    button:hover {
      color: pink;
    }
  }
}
.index_text {
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 1px black;
}
.info_container {
  padding: 0 60px;
  margin-bottom: 50px;
}
.salt_info {
  margin-bottom: 20px;
}
.info_img {
  font-size: 80px;
}
.info_img_pencil {
  margin-left: 16px;
}
.info_text {
  padding: 0 40px;
  font-size: 16px;
}

@media screen and (min-width: 500px) {
  .errorIndex {
    top: 0px;
  }
  .searchContainer {
    margin-top: 150px;
    flex-direction: row;
    input {
      margin-bottom: 0;
    }
    .cityContainer {
      margin-bottom: 0px;
      input {
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        border-left: 2px solid black;
        border-right: 0;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
    .dateFrom {
      margin-bottom: 0px;
      input {
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 0;
        border-left: 0;
        text-align: center;
      }
    }
    .indexArrowContainer {
      margin-bottom: 0px;
      display: flex;
      border-top: 2px solid black;
      border-bottom: 2px solid black;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      background-color: white;
    }
    .dateTo {
      margin-bottom: 0px;
      input {
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 0;
        border-left: 0;
        text-align: center;
      }
    }
    .buttonContainer {
      margin-bottom: 0px;
      justify-content: flex-start;
      button {
        color: white;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        font-size: 16px;
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .salt_info {
    margin-bottom: 0px;
  }
  .searchContainer {
    input {
      font-size: 17px;
    }
  }
  .info_text {
    padding: 0;
    font-size: 16px;
  }
}
@media screen and (min-width: 992px) {
  .info_text {
      padding: 0 40px;
  }
}
