.jumbotron {
  background-image: url("../../assets/food.jpg");
  background-position: center;
  background-size: cover;
  height: 400px;
}

.searchContainer {
  margin-top: 130px;
  display: flex;
  flex-direction: row;
}

.searchContainer .form-control {
  border-radius: 0;
}

.searchContainer .cityContainer {
  flex: 4;
}

.searchContainer .dateFrom {
  flex: 2;
}

.searchContainer .dateTo {
  flex: 2;
}

.searchContainer button {
  border-radius: 0;
}

.searchContainer a {
  color: black;
}

.searchContainer .buttonContainer {
  flex: 1;
}

.index_text {
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 1px black;
}

.info_container {
  padding: 0 120px;
  margin-bottom: 50px;
}

.info_img {
  font-size: 80px;
}

.info_text {
  padding: 0 40px;
  font-size: 16px;
}
