body {
  background-color: #e8e8e8;
}
#map {
  position: relative;
  width: 100%;
  height: 50vh;
}
.filterBox {
  position: relative;
  background-color: white;
  width: 100%;
  height: 45px;
  .guestLimitLabel {
    margin-left: 10px;
  }
}
.content_area {
  padding-top: 10px;
}
.form-control {
  display: inline-block;
  margin: 5px 10px;
  width: 10%;
}
.eventContainer {
  display: flex;
  height: 250px;
  flex-direction: column;
  margin-bottom: 30px;
  background-position: center;
  background-size: cover;
  .imgContainer {
    flex: 2;
    .dateContainer {
      position: absolute;
      top: 0px;
      left: 15px;
      background-color: rgba(255, 255, 255, 0.6);
      display: inline-block;
      padding: 5px;
      .date {
        font-size: 15px;
      }
      .time {
        font-size: 12px;
      }
    }
    .watchIcon {
      position: absolute;
      top: 7px;
      right: 25px;
      font-size: 30px;
      color: white;
      transition: 0.3s;
    }
    .watchIcon:hover, .watchIcon:focus {
      color: pink;
    }
  }
  .descContainer {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin-top: 5px;
    background-color: rgba(255, 255, 255, 0.6);
    .profileContainer {
      display: flex;
      flex-direction: column;
      flex: 1;
      .thumbnailContainer {
        height: 100%;
        flex: 4;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 60px;
        }
      }
      .nameContainer {
        flex: 1;
        display: flex;
        justify-content: center;
        .event_host {
          font-size: 12px;
          margin: 0;
        }
      }
    }
    .eventDescContainer {
      flex: 2;
      .event_title {
        margin: 10px 0;
      }
      .event_guests {
        display: inline-block;
      }
      .event_spots_left {
        display: inline-block;
        margin-left: 5px;
      }
    }
  }
}
@media screen and (min-width: 768px) {
  #map {
    position: fixed !important;
    right: 0px;
    top: 80px;
    width: 40%;
    height: 90vh;
  }
  .content_area {
    padding-top: 60px;
  }
  .filterBox {
    z-index: 5;
    position: fixed;
    width: 60%;
  }
}
