.contentRow {
  margin-top: 40px;
}
#slider {
  margin-top: 10px;
  .slick-slide {
    height: 320px;
  }
}
.mainContainer {
  display: flex;
  flex-direction: column;
  .headContainer {
    .titleContainer {
    }
    .spotsContainer {
      flex-direction: column;
      flex: 1;
      .goingContainer {
        flex: 1;
      }
      .openContainer {
        flex: 1;
      }
    }
  }
  .descContainer {
    flex: 1;
    .eventDate {
      display: inline-block;
    }
    .eventTime {
      display: inline-block;
    }
    .eventDesc {
      text-decoration: underline;
    }
    .foodDesc {
      text-decoration: underline;
    }
  }
  .highlightsContainer {
    flex: 1;
    margin:0
  }
}
.slick-prev:before, .slick-next:before {
  color: white !important;
}
.slick-next {
  right: 5px !important;
}
.slick-prev {
  z-index: 5;
  left: 5px !important;
}

.hostProfileContainer {
  display: flex;
  flex-direction: column;
  height: 100px;
  .hostImgContainer {
    height: 100%;
    flex: 4;
    display: flex;
    justify-content:center;
    align-items: center;
    .hostImg {
      height: 100%;
    }
  }
  .hostTextContainer {
    flex: 1;
      .hostsName {
        margin: 0;
      }
    }
    .hostBioContainer {
      flex: 1;
      display: flex;
      align-items: center;
      .hostBio {
        margin: 0;
      }
    }
}
.profile-text-margin {
  margin-top: 31px;
}
.text_input {
  height: 8
  0px;
}

.eventTitle {
  font-size: 60px;
  margin: 0;
}
