body {
  background-color: #e8e8e8;
}

.contentRow {
  margin-top: 40px;
}

#slider {
  margin-bottom: 20px;
}

#slider .slick-slide {
  height: 320px;
}

.slick-prev:before, .slick-next:before {
  color: white !important;
}

.slick-next {
  transform: scale(1.3) !important;
  right: 5px !important;
}

.slick-prev {
  transform: scale(1.3) !important;
  z-index: 5;
  left: 5px !important;
}

.hostProfileBox {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
}

.hostProfileBox .hostImg {
  border-radius: 10px;
}

.hostProfileBox button {
  background-color: black;
  color: white;
  transition: 0.3s;
}

.hostProfileBox button:hover, .hostProfileBox button:focus {
  color: pink;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
}

.detailsContainer .titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.detailsContainer .titleContainer h1 {
  margin: 0;
  font-size: 28px;
}

.detailsContainer .detailsBottomContainer {
  display: flex;
  flex-direction: row;
}

.detailsContainer .calendarContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.detailsContainer .calendarContainer .iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-size: 30px;
}

.detailsContainer .calendarContainer .datesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 2;
}

.detailsContainer .calendarContainer .datesContainer h4 {
  font-size: 18px;
}

.detailsContainer .guestsContainer {
  flex: 1;
  display: flex;
  flex: row;
}

.detailsContainer .guestsContainer .iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-size: 30px;
}

.detailsContainer .guestsContainer .numbersContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 2;
}

.detailsContainer .guestsContainer .numbersContainer h4 {
  font-size: 18px;
}

#map {
  height: 200px;
}

.mapBox {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
}

.eventInfoTitle a {
  color: black;
  font-size: 16px;
}

.eventInfoBox {
  display: flex;
  flex: row;
  flex-direction: column;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
}

.eventInfoBox .eventDescContainer {
  margin-bottom: 10px;
  flex: 1;
  display: flex;
  flex-direction: row;
}

.eventInfoBox .detailsSubContainer {
  margin-bottom: 10px;
  flex: 1;
  display: flex;
  flex-direction: row;
}

.eventInfoBox h4, .eventInfoBox h3 {
  margin: 10px 0;
}

.eventInfoBox h3 {
  font-size: 20px;
}

.eventInfoBox h4 {
  font-size: 17px;
}

.eventInfoBox .iconContainer {
  font-size: 30px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eventInfoBox .infoContainer {
  flex: 2;
}

.eventSpecificBox {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
}

.eventSpecificBox h4, .eventSpecificBox h3 {
  margin: 10px 0;
}

.eventSpecificBox h3 {
  font-size: 20px;
}

.eventSpecificBox h4 {
  font-size: 17px;
}

.eventSpecificBox .iconContainer {
  font-size: 30px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eventSpecificBox .infoContainer {
  flex: 2;
}

.eventSpecificBox .childrenContainer {
  margin-bottom: 10px;
  flex: 1;
  display: flex;
  flex-direction: row;
}

.eventSpecificBox .alcoholContainer {
  margin-bottom: 10px;
  flex: 1;
  display: flex;
  flex-direction: row;
}

.eventSpecificBox .guestInfoContainer {
  margin-bottom: 10px;
  flex: 1;
  display: flex;
  flex-direction: row;
}

.commentsBox {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
}

.commentsBox .commentsScrollBox {
  margin-top: 10px;
  overflow: scroll;
  height: 300px;
}

.commentsBox .commentsTitle {
  margin: 10px 0;
}

.commentsBox .panel-heading {
  background-color: black;
  color: white;
}

.commentsBox .commentFlag {
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-left: 10px;
}

.commentsBox .nameContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.commentsBox .timeFlagContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
}

.buttonContainer button {
  color: white;
  background-color: black;
  transition: 0.3s;
}

.buttonContainer button:hover, .buttonContainer button:focus {
  color: pink;
}

@media screen and (min-width: 500px) {
  .eventInfoBox, .hostProfileBox, .eventSpecificBox {
    width: 75%;
  }
  .commentsBox, .mapBox, .detailsContainer {
    width: 95%;
  }
}

@media screen and (min-width: 768px) {
  .detailsContainer {
    flex-direction: row;
  }
  .detailsContainer .titleContainer h1 {
    font-size: 32px;
  }
  .detailsContainer .detailsBottomContainer {
    display: flex;
    flex-direction: row;
  }
  .detailsContainer .calendarContainer .datesContainer h4 {
    font-size: 20px;
  }
  .detailsContainer .guestsContainer .numbersContainer h4 {
    font-size: 20px;
  }
  #map {
    height: 300px;
  }
  .commentsBox .commentsScrollBox {
    height: 400px;
  }
}

.message-button {
  margin: 10px 10px 0 10px;
}

.btn-black {
  background-color: black;
  color: white;
  transition: 0.3s;
}
